
.place-order {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 85%;
    margin: auto;
}

.place-order-left {
    flex: 1;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.place-order-left .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.place-order-left .multi-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.place-order-left input[type="text"],
.place-order-left input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.place-order-left input[type="text"]:last-child {
    margin-bottom: 0;
}

.place-order-right {
    flex: 1;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-total {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cart-total h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cart-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cart-details p {
    margin: 0;
}

.cart-details p:last-child {
    font-weight: bold;
}

.cart-total hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.cart-total button {
    width: 100%;
    padding: 0.75rem;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.cart-total button:hover {
    background-color: rgb(228, 87, 63);
}
