.cart {
    padding: 2rem;
    background-color: #f8f9fa;
    animation: fadeIn 0.5s ease-in-out;
}

.cart-items {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.5s ease-in-out;
    margin-bottom: 2rem;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 2px solid tomato;
    padding-bottom: 0.5rem;
}

.cart-items-title p {
    margin: 0;
    color: tomato;
    font-size: 1.1rem;
}

.cart-ites-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
}

.cart-ites-item:hover {
    background-color: #f1f1f1;
}

.cart-ites-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.cart-ites-item img:hover {
    transform: scale(1.1);
}

.cart-ites-item p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.cart-ites-item p:last-child {
    cursor: pointer;
    color: red;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.cart-ites-item p:last-child:hover {
    color: darkred;
    transform: scale(1.2);
}

hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 1rem 0;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cart-total, .cart-promocode {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 48%;
    animation: slideUp 0.5s ease-in-out;
}

.cart-total h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cart-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.cart-details p, .cart-details b {
    margin: 0;
    font-size: 1rem;
}

.cart-total button {
    width: 100%;
    padding: 0.75rem;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.cart-total button:hover {
    background-color: rgb(226, 86, 61);
}

.cart-promocode p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cart-promocode-input {
    display: flex;
    gap: 0.5rem;
}

.cart-promocode-input input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.cart-promocode-input button {
    padding: 0.5rem 1rem;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-promocode-input button:hover {
    background-color: rgb(226, 86, 61);
}
.warning-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .cart-bottom {
        flex-direction: column;
        gap: 1.5rem;
    }

    .cart-total, .cart-promocode {
        width: 100%;
    }
}
