.Explore-menu{
    margin-top: 15%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}
.Explore-menu h1{
    color: rgb(37, 36, 36);
    font-weight: 500;

}
.Explore-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
@media (max-width:1050px){
    .Explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}
