.header {
    position: relative;
    color: #fff;
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20%;
    align-items: center;
}
  
  .background-img {
    position: absolute;
    margin-top: 3%;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover; 
    border-radius: 2% ;
    z-index: -1; 
  }
  
  .header-contents {
    position: relative; 
    z-index: 1; 
    animation: fadein 2s;
    font-weight: bolder;

  }
  
  .header-contents h2 {
    font-size: 62px;
    margin-bottom: 20px;
  }
  
  .header-contents p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .header-contents button {
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .header-contents button:hover {
    background-color: rgb(217, 83, 60);
  }
  @keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  @media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }
  }
  @media (max-width:750px){
    
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
        font-size: 1px;
    }
    .header-contents h2{
        font-size: 20px;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
  }